.blog-navbar-brand {
  width: 180px;
}

.blog-navbar {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: white;
  -webkit-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
  -moz-box-shadow: 2px 0px 18px 1px rgba(222, 222, 222, 1);
  box-shadow: 2px 0px 4px 1px rgba(222, 222, 222, 1);
}
#toggler {
  background-color: white !important;
}
#nav-link {
  transition: all 0.3s;
  padding: 0.2rem;
  opacity: 0.9;
}
#nav-link:hover {
  border-radius: 50%;
  opacity: 1;
  transition: all 0.3s;
  box-shadow: 0px 0px 8px rgb(179, 179, 179);
}
.nav-links {
  text-decoration: none !important;
  font-size: 20px;
  transition: all 0.2s;
  opacity: 0.9;
  color: rgb(192, 192, 192);
}
.nav-links:hover {
  transition: all 0.2s;
  opacity: 1;
  color: rgb(224, 224, 224);
}
.shadow:hover {
  box-shadow: 0px 0px 8px 8px rgb(179, 179, 179);
}
#desktop-navbar {
  width: 100vw;
}
/*


MEDIA QUERRIES

MOBILE SCREEN BELOW

*/
@media (max-width: 600px) {
  #navbar {
    display: flex;
    justify-content: center !important;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: white;
    padding: 0.5rem;
  }

  #navbar-post-mobile {
    display: block;
    font-weight: 100 !important;
  }
  .hide-on-mobile,
  #navbar-post {
    display: none !important;
  }
  #navbar-mobile {
    box-shadow: 0px 1px 8px 5px rgba(116, 116, 116, 0.747) !important;
  }
}
/*


ALL BIGGER THAN MOBILE



*/
@media (min-width: 600px) {
  #navbar-mobile {
    display: none !important;
  }
}
/*


ALL BIGGER THAN MOBILE



*/

@media (min-width: 600px) and (max-width: 1000px) {
  #only-md-screens {
    display: block !important;
  }
  #nav-search {
    margin: 0.5rem;
    display: none !important;
  }
  .nav-links {
    margin: 0 0 0.5rem 0.5rem;
  }
  #post-button {
    display: none;
  }
  .hide-on-md {
    display: none;
  }
  #dont-show-on-md {
    display: none !important;
  }
  #search-button {
    display: block !important;
  }
}
@media (min-width: 1000px) {
  #nav-search2 {
    display: none !important;
  }
  #desktop-nav {
    background-color: #1f1f1f;
  }
}
