body {
  font-family: "Outfit", sans-serif;
}
#main {
  background-color: #141414 !important;
  min-height: 100vh;
}
@media (max-width: 1200px) {
  #main {
    margin-top: 0rem;
  }
}
@media (min-width: 1200px) {
  #main {
    margin-top: 5rem;
    margin-bottom: 5rem;
  }
}

#root,
:root {
  background-color: #939391;
  background-image: url("https://wallpaper.dog/large/10981226.jpg");
  object-fit: cover;

  background-attachment: fixed;
}
#root {
  min-height: 100vh;
}
