.blog-cover {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 0% 0%;
}

.blog-card {
  height: 100%;
}

#blog-link {
  text-decoration: none;
  transition: all 0.2s;
}

#blog-link:hover {
  opacity: 0.9;
  transition: all 0.2s;
}
#text-main-blog {
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 120px;
}
@media only screen and (max-width: 600px) {
  #text-main-blog {
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 100px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}
@media only screen and (max-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (max-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  #text-main-blog {
    max-height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
